.mat-card-header-text {
  margin: 0 !important;
}
.chat {
  padding: 0;
  margin-top: 50px;

  &__online-indicator {
    width: 7px;
    height: 7px;
    background: greenyellow;
    margin-left: 10px;
    align-self: center;
    border-radius: 50%;
  }
  &__online-text {
    font-size: 16px;
    color: gray;
    margin-left: 17px;
  }
  &__wrapper {
    display: flex;
  }
  &__username {
    font-weight: 500;
    font-size: 13px;

    font-weight: bold;
  }
  &__message {
    display: flex;
    word-break: break-all;
    width: fit-content;
    border-radius: 11px;
    //box-shadow: inset 0 0 1em #C0C0C0;
    box-shadow: 1px 1px 10px #c0c0c0;
    position: relative;
    background: rgb(18%, 60%, 88%, 0.9);
    margin-bottom: 20px;
    padding: 13px;
    color: white;
  }
  &__message-text {
    word-break: break-all;
    align-self: center;
  }
  &__mymessage {
    justify-content: flex-end;
  }
  &__edit-message {
    display: flex;
    padding-left: 10px;
    justify-content: flex-end;
  }
  &__date {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin-left: 20px;
    font-weight: bold;
    align-self: center;
  }
  &__input-message {
    width: 100%;
  }
  &__header {
    height: 80px;
    background-color: #f1f1f1;
    justify-content: space-between;
    display: flex;
  }
  &__title {
    position: relative;
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
  }
  &__content {
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 99px;
    padding-right: 99px;
  }
  &__actions {
    background: #f7f7f7;
    margin: 0;
    height: 120px;
    &-form {
      padding: 13px 36px 0 36px;
      display: flex;
    }
  }
  &__mat-form-field {
    width: 80%;
    margin-right: 25px;
  }
  &__cancel-btn {
    background: #1e89d0;
    width: 120px;
    height: 50px;
    color: white;
    margin: 0;
  }
  &__edit-btn {
    background: #1e89d0;
    width: 120px;
    height: 50px;
    color: white;
    margin-left: 45px;
  }
  &__send-btn {
    background: #1e89d0;
    width: 120px;
    height: 50px;
    color: white;
    margin-top: 10px;
  }
  &__clear {
    align-self: center;
    margin-right: 36px;
    &-btn {
      background: #1e89d0;
      width: 100px;
      height: 35px;
      color: white;
    }
  }
}

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #f7f7f7;
  box-shadow: 0px 0px 3px #f7f7f7 inset;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #1e89d0;
  box-shadow: 0px 1px 1px #fff inset;
}

::-webkit-resizer {
  background-repeat: no-repeat;
  width: 7px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 11px;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  min-width: 33px;
}
.material-icons {
  font-size: 17px;
}
.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 3px;
}
