<mat-card class="chat">
  <mat-card-header class="chat__header">
    <mat-card-title class="chat__title"
      >{{ getLoggedName() }}
      <div class="chat__online-indicator"></div>
      <span class="chat__online-text">Online</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="chat__content" #container>
    <div
      class="chat__wrapper"
      *ngFor="let message of messages | async; index as i"
      [ngClass]="{
        chat__mymessage: message.user.username === getLoggedName()
      }"
    >
      <div>
        <div class="chat__username">
          {{ message.user.username }}
        </div>
        <div
          #back
          class="chat__message"
          [style.background]="
            message.user.username == getLoggedName()
              ? 'rgb(18%, 60%, 88%, 0.9)'
              : 'rgb(150, 15, 150)'
          "
        >
          <div class="chat__message-text">
            {{ message.text }}
          </div>

          <div class="chat__edit-message">
            <div *ngIf="message.user.username === getLoggedName()">
              <button mat-icon-button (click)="editMessage(i)">
                <span class="material-icons">
                  edit
                </span>
              </button>

              <button mat-icon-button (click)="deleteMessage(message)">
                <span class="material-icons">
                  delete
                </span>
              </button>
            </div>
          </div>
          <div class="chat__date">
            {{ message.date | date: "HH:mm" }}
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions class="chat__actions">
    <form class="chat__actions-form">
      <mat-form-field class="chat__mat-form-field">
        <mat-label>Сообщение</mat-label>
        <input
          #focus
          matInput
          [formControl]="messageControl"
          class="chat__input-message"
          autocomplete="off"
          [(ngModel)]="messageInput"
          maxlength="256"
          placeholder="Введите сообщение..."
        />
        <mat-hint align="start"> </mat-hint>
        <mat-hint align="end">{{ messageInput.length }} / 256</mat-hint>
      </mat-form-field>
      <div *ngIf="!editing; else editingBtn">
        <button
          [disabled]="!(messageInput && messageInput.trim())"
          mat-button
          class="chat__send-btn"
          (click)="onSumbit()"
        >
          Отправить
        </button>
      </div>
      <ng-template #editingBtn>
        <button
          [disabled]="!(messageInput && messageInput.trim())"
          mat-button
          class="chat__edit-btn"
          (click)="onSumbit()"
        >
          Изменить
        </button>
        <button
          (click)="cancelEditMessage()"
          mat-button
          class="chat__cancel-btn"
        >
          Отменить
        </button>
      </ng-template>
    </form>
  </mat-card-actions>
</mat-card>
