mat-toolbar {
  background-color: #1e89d0;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 85px;
  padding: 0;
}
.kk {
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 0 370px;
}
img {
  width: 60px;
  height: 60px;
}
.title {
  margin-left: 15px;
  color: white;
  font-size: 23px;
}
.username-logout {
  color: white;
  font-size: 18px;
  align-self: center;
}
button {
  background: white;
  color: black;
  margin-left: 20px;
}
