<mat-toolbar>
  <div class="container">
    <div class="kk">
      <span>
        <a routerLink="/main"
          ><img
            src="http://icons.iconarchive.com/icons/graphicloads/100-flat-2/96/chat-2-icon.png"
        /></a>
        <span class="title">Angular Test Chat</span></span
      >

      <span *ngIf="getLoggedName() ? true : false" class="username-logout">
        <button class="mb-2" mat-button (click)="logout()">
          Выйти
        </button></span
      >
    </div>
  </div>
</mat-toolbar>
