mat-toolbar {
  background-color: #1e89d0;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 85px;
  padding: 0;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar {
  padding: 0 370px;
  &__title-block {
    display: flex;
  }
  &__username-logout {
    color: white;
    font-size: 18px;
    align-self: center;
  }
  &__title {
    margin-left: 15px;
    color: white;
    font-size: 23px;
  }
  &__wrapper {
    align-self: center;
  }
}
img {
  width: 60px;
  height: 60px;
}

button {
  background: white;
  color: black;
  margin-left: 20px;
}
