<mat-toolbar class="container">
  <div class="wrapper">
    <span class="title__block">
      <a routerLink="/main"
        ><img
          src="http://icons.iconarchive.com/icons/graphicloads/100-flat-2/96/chat-2-icon.png"
      /></a>
      <div class="title__block-wrapper">
        <span class="title">Angular Test Chat</span>
      </div></span
    >

    <span *ngIf="getLoggedName() ? true : false" class="username-logout">
      <button mat-button (click)="logout()">
        Выйти
      </button></span
    >
  </div>
</mat-toolbar>
