<mat-card class="example-card mt-5">
  <mat-card-header>
    <mat-card-title
      >{{ getLoggedName() }}
      <div class="d1"></div>
      <span class="online">Online</span>
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div
      class="wrapper2"
      *ngFor="let message of messages"
      [style.justify-content]="
        message.user == getLoggedName() ? 'flex-end' : 'block'
      "
    >
      <div class="wrapper">
        <div class="block_username">
          {{ message.user }}
        </div>
        <div
          #back
          class="message_block"
          [style.background]="
            message.user == getLoggedName()
              ? 'rgb(18%, 60%, 88%, 0.9)'
              : 'rgb(150, 15, 150)'
          "
        >
          <div
            class="message-text"
            *ngIf="!message.editing; else editingMessage"
          >
            {{ message.text }}
          </div>
          <ng-template #editingMessage>
            <div>
              <mat-form-field>
                <input
                  matInput
                  [formControl]="messageEditControl"
                  type="text"
                  [(ngModel)]="message.text"
                  (keyup.enter)="doneEditMessage(message)"
                  (keyup.escape)="cancelEditMessage(message)"
                  autofocus
                  maxlength="256"
                />
              </mat-form-field>
            </div>
          </ng-template>
          <div class="edit_date">
            <div *ngIf="message.user == getLoggedName()">
              <button
                mat-button
                class="btn_edit"
                (click)="editMessage(message)"
                *ngIf="!message.editing; else doneEdit"
              >
                <span class="material-icons">
                  edit
                </span>
              </button>
              <ng-template #doneEdit>
                <button
                  mat-button
                  class="btn_edit"
                  (click)="doneEditMessage(message)"
                  [disabled]="messageEditControl.invalid"
                >
                  <span class="material-icons">
                    done
                  </span>
                </button>
              </ng-template>
              <button
                mat-button
                class="btn_edit"
                (click)="deleteMessage(message)"
              >
                <span class="material-icons">
                  delete
                </span>
              </button>
            </div>
          </div>
          <div class="username-date">
            <div class="block_date">
              {{ message.date | date: "HH:mm" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Сообщение</mat-label>
        <input
          matInput
          [formControl]="messageControl"
          class="inpMessage"
          autocomplete="off"
          [(ngModel)]="message"
          maxlength="256"
          placeholder="Введите сообщение..."
        />
        <mat-hint align="start"> </mat-hint>
        <mat-hint align="end">{{ message.length }} / 256</mat-hint>
      </mat-form-field>

      <button
        [disabled]="messageControl.invalid"
        mat-button
        class="sendBtn"
        (click)="addMessage()"
      >
        Отправить
      </button>
    </form>
  </mat-card-actions>
</mat-card>
