.mat-card {
  width: 500px;
  height: 405px;
  background-color: whitesmoke;
  position: relative;
  text-align: center;
}
mat-card-header {
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
  mat-card-title {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
}
mat-card-actions {
  button {
    font-size: 17px;
    color: white;
    background: #1e89d0;
    width: 250px;
  }
}

.signup {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
mat-card-content {
  display: grid;
}
.alert {
  width: 220px;
  height: 100px;
  position: absolute;
  left: 510px;
  top: 35px;
}
.validations {
  color: red;
}
.password {
  margin-top: 5px;
}

.buttons {
  display: block;
}
.buttons__signup {
  margin-top: 10px;
}
.buttons__back {
  margin-top: 10px;
}
