<div class="signup mt-5 text-center">
  <mat-card class="example-card">
    <mat-card-header class="mt-1">
      <mat-card-title>Регистрация</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-3">
      <mat-form-field hintLabel="Max 10 characters" appearance="fill">
        <mat-label>Придумайте логин</mat-label>
        <input
          [formControl]="signupUsernameControl"
          matInput
          #input
          autocomplete="off"
          [(ngModel)]="username"
        />
        <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
      </mat-form-field>
      <div
        *ngIf="signupUsernameControl.touched && signupUsernameControl.invalid"
        class="validations"
      >
        <small *ngIf="signupUsernameControl.errors.required"
          >Данное поле не может быть пустым</small
        >
        <small *ngIf="signupUsernameControl.errors.pattern"
          >Имя пользователя может состоять только из латинских букв и
          цифр.</small
        >
      </div>

      <mat-form-field class="mt-3" appearance="fill">
        <mat-label>Придумайте пароль</mat-label>
        <input
          matInput
          [formControl]="signupPasswordControl"
          [type]="hide ? 'password' : 'text'"
          [(ngModel)]="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <div
        *ngIf="signupPasswordControl.touched && signupPasswordControl.invalid"
        class="validations"
      >
        <small *ngIf="signupPasswordControl.errors.required"
          >Данное поле не может быть пустым</small
        >
        <small *ngIf="signupPasswordControl.errors.minlength"
          >Пароль должен состоять из 5 и более символов.</small
        >
      </div>
    </mat-card-content>
    <mat-card-actions class="mb-3">
      <button
        class="mb-3"
        [disabled]="
          signupUsernameControl.invalid || signupPasswordControl.invalid
        "
        (click)="signupUser()"
        mat-button
      >
        Зарегистрироваться
      </button>
      <button class="mb-5" mat-button routerLink="/main">Назад</button>
    </mat-card-actions>
  </mat-card>
</div>
