<div class="signup">
  <mat-card class="signup__container">
    <mat-card-header class="signup__header">
      <mat-card-title class="signup__title">Регистрация</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-card__content">
      <mat-form-field hintLabel="Max 10 characters" appearance="fill">
        <mat-label>Придумайте логин</mat-label>
        <input
          [formControl]="signupUsernameControl"
          matInput
          #input
          autocomplete="off"
          [(ngModel)]="username"
        />
        <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
      </mat-form-field>
      <div
        *ngIf="signupUsernameControl.touched && signupUsernameControl.invalid"
        class="signup__validations"
      >
        <small *ngIf="signupUsernameControl.errors.required"
          >Данное поле не может быть пустым</small
        >
        <small *ngIf="signupUsernameControl.errors.pattern"
          >Имя пользователя может состоять только из латинских букв и
          цифр.</small
        >
      </div>

      <mat-form-field class="signup__password" appearance="fill">
        <mat-label>Придумайте пароль</mat-label>
        <input
          matInput
          [formControl]="signupPasswordControl"
          [type]="hide ? 'password' : 'text'"
          [(ngModel)]="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <div
        *ngIf="signupPasswordControl.touched && signupPasswordControl.invalid"
        class="signup__validations"
      >
        <small *ngIf="signupPasswordControl.errors.required"
          >Данное поле не может быть пустым</small
        >
        <small *ngIf="signupPasswordControl.errors.minlength"
          >Пароль должен состоять из 5 и более символов.</small
        >
      </div>
    </mat-card-content>
    <mat-card-actions class="signup__buttons">
      <div class="signup__buttons-registration">
        <button
          [disabled]="
          signupUsernameControl.invalid || signupPasswordControl.invalid
        "
          class="signup__button"
          (click)="signupUser()"
          mat-button
        >
          Зарегистрироваться
        </button>
      </div>
      <div class="signup__buttons-back">
        <button class="signup__button" mat-button routerLink="/main">
          Назад
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
