<div class="main">
  <mat-card class="example-card">
    <mat-card-header class="">
      <mat-card-title>Добро пожаловать</mat-card-title>
    </mat-card-header>

    <mat-card-actions class="buttons">
      <div class="buttons__login">
        <button class="buttons__login-btn" routerLink="/login" mat-button>
          Войти
        </button>
      </div>
      <div class="buttons__signup">
        <button class="buttons__signup-btn" routerLink="/signup" mat-button>
          Регистрация
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
